
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "mandibular.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Articulació Temporo Mandíbular (ATM)</h3>
						<p>Soluciona problemes com les migranyes, mals de cap, marejos o la pressió que fem amb les dents durant la nit. S’intenta alliberar aquesta tensió per arreglar les disfuncions que en provoca en la resta del cos.</p>
					</div>

				</div>