
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "drenatge-limfatic.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Drenatge Limfàtic</h3>
						<p>Massatge per estimular el líquid acumulat en una zona del nostre cos i facilitar que circuli cap a un lloc de desaigua a través d'un sistema de conducció. A més es treballa amb ventoses fet que ajuda a treballar a major profunditat. En el nostre organisme existeix tot un sistema tubular que permet la sortida relativament fàcil de la limfa que pot haver-se acumulat en diferents parts del cos, especialment en la pell i sota d’aquesta. </p>
					</div>

				</div>