<%= render :partial => "welcome/tractaments" %>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<%= image_tag "electro.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
		<h3>Electroestimulació</h3>
		<p>Acompanyem els tractament amb una maquinària que ens permet fer un  treball més profund i acurat.</p>
	</div>
</div>