				
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "estiraments.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Estiraments</h3>
						<p>Ajudar a elastificar el nostre cos, donant-nos més llibertat de moviment. Tècnica que dóna oxigen i bona circulació en els músculs per aconseguir-ne un bon funcionament. </p>
					</div>

				</div>