				<div class='links row'>
					<div class='col-xs-8 col-sm-4 col-md-3 col-lg-3'>
						<p>GIMNÀSTICA HIPOPRESSIVA</p>
					</div>
					<div class='col-xs-offset-1 col-xs-3 col-sm-offset-6 col-sm-2 col-md-offset-8 col-md-1 col-lg-offset-8 col-lg-1'>
						<%= link_to image_tag("facebook.png", alt: "logo faceboook"), "#" %>
						<%= link_to image_tag( "instagram.png", alt: "logo instagram"), "#" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<hr class="borde1"/>
					</div>
				</div>
				<div class="row">
					<div class="cos col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<%= image_tag "abdominals-hipopressius.jpg", alt: "foto abdominals", class: "foto-tractaments" %>
						<h3>Abdominals hipopressius</h3>
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Dilluns <span class="glyphicon glyphicon-time"></span></th>
									<th>Dimecres <span class="glyphicon glyphicon-time"></span></th>
									<th>Dijous <span class="glyphicon glyphicon-time"></span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="hora">de 14 a 15</td>
									<td class="buit"></td>
									<td class="hora">de 14 a 15</td>
								</tr>
								<tr>
									<td class="hora">de 15 a 16</td>
									<td class="buit"></td>
									<td class="buit"></td>
								</tr>
								<tr>
									<td class="hora">de 18 a 19</td>
									<td class="hora">de 18 a 19</td>
									<td class="hora">de 19,30 a 20,30</td>
								</tr>
							</tbody>
						</table>
						<p>La "Gimnàstica Abdominal Hipopressiva" és una tècnica innovadora desenvolupada per Marcel Caufriez i provada científicament. Indicada per crear una faixa abdomino lumbar i recuperar el sòl pèlvic entre d’altres beneficis. Amb la seva pràctica s’aconsegueix una correcta higiene postural i disminuir el dolor en la vida diària. També està indicat per les persones que vulguin millorar el seu rendiment esportiu.</p>
						<p>Amb la pràctica dels hipopressius podem treballar de forma no agressiva sobre la faixa abdominal i el sòl pelvià, obtenint uns molt bons resultats.</p>
						<ul>
							<li>Reeducació incontinència urinària i anal</li>
							<li>Prolapses, descens d’òrgans de la pelvis (bufeta i pròstata)</li>
							<li>Millora disfuncions sexuals en l’home i la dona</li>
							<li>Preparació al part i post part</li>
							<li>Rendiment esportiu</li>
						</ul>
					</div>

				</div>