
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">

					<%= image_tag "tractaments.png", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Massatge Terapèutic Professional</h3>
						<p>Tractament de teràpia manual on es treballen les contraccions musculars perllongades, zones hipotòniques per falta de mobilitat o restricció postural.</p>
					</div>

				</div>