
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "miofascials.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Tècniques miofascials</h3>
						<p>Tècnica per aconseguir la reharmonització de les fàscies del cos per tal de trobar un equilibri i que no provoqui cap disfunció en l'organisme. Indicat per descarregar tensions musculars molt profundes i adherències entre músculs.</p>
					</div>

				</div>