
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "tractaments.png", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Tècniques post part</h3>
						<p>El nostre cos pateix canvis després de donar llum. Consisteix en tornar a donar harmonia al cos, reeducar en les bones postures i recuperar el sòl pèlvic mitjançant exercicis. </p>
					</div>

				</div>