
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "tractaments.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Tècniques de preparació al part</h3>
						<p>Exercicis per ajudar a les dones embarasades que tenen dolors deguts a l'augment de pes i els canvis que pateix el nostre cos degut a l'embaràs. Aquesta tècnica fa possible tenir més bona mobilitat i encarar el part amb bones postures i respiracions. </p>
					</div>

				</div>