
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "puncio-seca.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Punció seca</h3>
						<p>Tracta el dolor miofascial i els punts gallet mitjançant agulles molt fines sense introduir-hi cap producte químic. És una tècnica molt eficaç ja que dóna resultats ràpidament.</p>
					</div>

				</div>