<div class='links row'>
					<div class='col-xs-7 col-sm-4 col-md-3 col-lg-3'>
						<p>READAPTACIÓ ESPORTIVA</p>
					</div>
					<div class='col-xs-offset-2 col-xs-3 col-sm-offset-6 col-sm-2 col-md-offset-8 col-md-1 col-lg-offset-8 col-lg-1'>
						<%= link_to image_tag("facebook.png", alt: "logo faceboook"), "#" %>
						<%= link_to image_tag( "instagram.png", alt: "logo instagram"), "#" %>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<hr class="borde1"/>
					</div>
				</div>
				<div class="row">
					<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
						<%= image_tag "readaptacio-esportiva.jpg", alt: "foto readaptacio", class: "foto-tractaments" %>
					</div>
				</div>
				<div class="row">
					<div class='textreadaptacio col-xs-12 col-sm-12 col-md-12 col-lg-12'>
						<p><b>Circuit d'entrenament.</b> Mètode d'entrenament per incrementar l'estat de forma utilitzant una àmplia varietat de material (TRX, Bosu, el•líptica, tirants musculars, peses, cinturó entre molts d’altres) i involucrant el major nombre de grups musculars. Combinació òptima d'exercicis cardiovasculars i de força.</p>
						<p><b>El mètode de treball</b> es basa en la individualització de l’entrenament o el procés de readaptació, així com la constant comunicació amb l’esportista. Aquest entrenament és de caràcter funcional i <b>els seus pilars</b> són:</p>
						<ul>
							<li>Entrenament de la força (sobrecàrrega Excèntrica)</li>
							<li>Tasques amb desequilibris (Sistema Propioceptiu)</li>
							<li>CORE Stability</li>
							<li>Variabilitat dels exercicis (Coordinació)</li>
							<li>HIIT (High Intensity Interval Training)</li>
						</ul>
					</div>
				</div>