
				<%= render :partial => "welcome/tractaments" %>

					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
						<%= image_tag "reeducacio-postural-home.jpg", alt: "foto tractaments", class: "foto-tractaments" %>
						
						<h3>Reeducació postural corporal</h3>
						<p>L'objectiu és tornar la flexibilitat muscular, recuperar la correcta alineació de les estructures, eliminar el dolor i restablir la funció corporal danyada. Cal adoptar bones posicions per evitar lesions posteriors i ajuda a evitar que lesions que ja tenim s’agreugin. </p>
					</div>

				</div>